body{
  font-family: Verdana;
}
.berlin-clock{
  margin: auto;
  text-align: center;
  width: 150px;
}
.unit{
  width: 30px;
  height: 30px;
  border:1px solid #ccc;
  display: inline-block;
}
.unit:first-child{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.unit:last-child{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sec.unit{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.row{
  margin: 5px 0;
}
.minute-top{
  font-size:1px;
}
.minute-top .min.unit{
  width: 7px;
}
.second-row .unit.on{
  background-color: yellow;
}
.hour-top .unit.on, .hour-bottom .unit.on{
  background-color: red;
}
.minute-top .unit.on, .minute-bottom .unit.on{
  background-color: yellow;
}
.minute-top .unit:nth-child(3).on,
.minute-top .unit:nth-child(6).on,
.minute-top .unit:nth-child(9).on{
  background-color: red;
}
.ref{
  font-size: 8px;
}

.ctrl {
  margin: auto;
  text-align: center;
}

.input.row > input {
  width: 20px;
}

